@model HomeViewModel
@{
    ViewData["Title"] = "WhiteBase Gunpla Shop";
}

<style>
    a {
        color: inherit;
        text-decoration: none;
    }

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: .5rem;
    }
</style>

<partial name="SliderShowPartial" />

<div class="container">

    <hr class="featurette-divider">

    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> Best Selling</h3>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var item in Model.BestSellingItems)
        {
            var urlEncodedItemName = GunplaOnlineShop.Utilities.UrlFormat.Encode(item.Name, "[^a-zA-Z0-9]", "-");
            <div class="card mb-1 border-0">
                <a asp-controller="Collection" asp-action="Products" asp-route-grade="" asp-route-name="@urlEncodedItemName">
                    <img src="~/images/@(item.Name).jpg" class="card-img-top" asp-append-version="true" />
                </a>
                <div class="card-body align-items-center justify-content-center">
                    <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title stretched-link">@item.Name</h5>
                            </div>
                            <div class="col-12">
                                <p class="card-text font-italic">$@item.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">

    <hr class="featurette-divider">

    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> New Released</h3>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var item in Model.NewItems)
        {
            var urlEncodedItemName = GunplaOnlineShop.Utilities.UrlFormat.Encode(item.Name, "[^a-zA-Z0-9]", "-");
            <div class="card mb-1 border-0">
                <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                    <img src="~/images/@(item.Name).jpg" class="card-img-top" asp-append-version="true" />
                </a>
                <div class="card-body align-items-center justify-content-center">
                    <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title stretched-link">@item.Name</h5>
                            </div>
                            <div class="col-12">
                                <p class="card-text font-italic">$@item.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">

    <hr class="featurette-divider">

    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> HIGH GRADE</h3>
        </div>
        <div class="col-sm col-lg text-right">
            <a class="text-primary" asp-controller="Collection" asp-action="Category" asp-route-grade="High-Grade"> <u>For more high grade kits</u></a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var item in Model.HgItems)
        {
            var urlEncodedItemName = GunplaOnlineShop.Utilities.UrlFormat.Encode(item.Name, "[^a-zA-Z0-9]", "-");
            <div class="card mb-1 border-0">
                <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                    <img src="~/images/@(item.Name).jpg" class="card-img-top" asp-append-version="true" />
                </a>
                <div class="card-body align-items-center justify-content-center">
                    <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title stretched-link">@item.Name</h5>
                            </div>
                            <div class="col-12">
                                <p class="card-text font-italic">$@item.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <hr class="featurette-divider">

    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> MASTER GRADE</h3>
        </div>
        <div class="col-sm col-lg text-right">
            <a class="text-primary" asp-controller="Collection" asp-action="Category" asp-route-grade ="Master-Grade"> <u>For more master grade kits</u></a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var item in Model.MgItems)
        {
            var urlEncodedItemName = GunplaOnlineShop.Utilities.UrlFormat.Encode(item.Name, "[^a-zA-Z0-9]", "-");
            <div class="card mb-1 border-0">
                <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                    <img src="~/images/@(item.Name).jpg" class="card-img-top" asp-append-version="true" />
                </a>
                <div class="card-body align-items-center justify-content-center">
                    <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title stretched-link">@item.Name</h5>
                            </div>
                            <div class="col-12">
                                <p class="card-text font-italic">$@item.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div class="container">
    <hr class="featurette-divider">
    <div class="row d-flex justify-content-between">
        <div class="col-sm col-lg">
            <h3 class="text-left"> PERFECT GRADE </h3>
        </div>
        <div class="col-sm col-lg text-right">
            <a class="text-primary" asp-controller="Collection" asp-action="Category" asp-route-grade="Perfect-Grade"> <u>For more perfect grade kits</u></a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var item in Model.PgItems)
        {
            var urlEncodedItemName = GunplaOnlineShop.Utilities.UrlFormat.Encode(item.Name, "[^a-zA-Z0-9]", "-");
            <div class="card mb-1 border-0">
                <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                    <img src="~/images/@(item.Name).jpg" class="card-img-top" asp-append-version="true" />
                </a>
                <div class="card-body align-items-center justify-content-center">
                    <a asp-controller="Collection" asp-action="Products" asp-route-name="@urlEncodedItemName">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title stretched-link">@item.Name</h5>
                            </div>
                            <div class="col-12">
                                <p class="card-text font-italic">$@item.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>