@model GunplaOnlineShop.ViewModels.CollectionViewModel
@{
    ViewData["Title"] = "ItemRepositoryCollection";
}
    <style>

        .breadcrumb {
            margin-bottom: 0;
        }

        hr {
            margin-top: 0rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        @@media(min-width:576px) {
            .card-deck {
                display: grid;
                grid-template-columns: repeat(1, minmax(150px, 1fr));
                grid-gap: .5rem;
            }
        }

        @@media(min-width:768px) {
            .card-deck {
                display: grid;
                grid-template-columns: repeat(2, minmax(150px, 1fr));
                grid-gap: .5rem;
            }
        }

        @@media(min-width:992px) {
            .card-deck {
                display: grid;
                grid-template-columns: repeat(3, minmax(150px, 1fr));
                grid-gap: .5rem;
            }
        }

        @@media(min-width:1200px) {
            .card-deck {
                display: grid;
                grid-template-columns: repeat(4, minmax(150px, 1fr));
                grid-gap: .5rem;
            }
        }

        .form-inline {
            display: flex;
            align-items: center;
        }

        label {
            margin: 1fr;
        }
    </style>

    <div class="container">
        <div class="row d-flex flex-row-reverse mb-3 ml-3">
            <form id="filter" method="get" class="form-group row">
                <label asp-for="SelectedOrder" class="col-3 col-form-label px-0">Sort By</label>
                <div class="col-9 px-0">
                    <select asp-for="SelectedOrder" asp-items="Html.GetEnumSelectList<GunplaOnlineShop.QueryObjects.ItemSort.SortOrder>()" class="form-control"></select>
                </div>
            </form>
        </div>
        <a asp-controller="ItemRepository" asp-action="ItemCreate" class="btn btn-primary">Create</a>
        <div class="row mt-5">
            <div class="card-deck">
                @foreach (var item in Model.Items)
                {
                    var urlEncodedItemName = GunplaOnlineShop.Utilities.UrlFormat.NameEncode(item.Name);
                    var photoPath = "~/images/NoCoverImage.jpg";
                    if (item.Photos.Any())
                    {
                        photoPath = item.Photos.Where(i => i.Url.Contains("/images/cover/")).FirstOrDefault().Url ?? "~/images/NoCoverImage.jpg";
                    }
                    <div class="card mt-1 mb-1 ml-1 mr-1 border-0">
                        <img src="@photoPath" class="card-img-top" asp-append-version="true" />
                        <div class="card-body align-items-center justify-content-center">
                            <h5 class="card-title">@item.Name</h5>
                            <form method="post" asp-action="Delete" asp-controller="ItemRepository" asp-route-id="@item.Id">
                                <a asp-controller="ItemRepository" asp-action="ItemEdit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete item: @item.Name')">Delete</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
            @await Html.PartialAsync("PaginationPartial", Model.Items)
        </div>
    </div>
        @section Scripts{
            <script type="text/javascript">
        $(function () {
            $('[name=q]')[0].value = "@Model.q";
        });
        $("#SelectedOrder").change(function () {
            $("[name=PageNumber]")[0].value = 1;
            this.form.submit();
        });
        $(".page-link").click(function () {
            pageNumber = $(this).data("page-number");
            $("[name=PageNumber]")[0].value = pageNumber;
            $("#filter").submit();
        });
            </script>
        }
